* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --fs-h1: 2.4rem;
    --fs-span: 1.6rem;
}

.popup {
    position: fixed;
    height: 5rem;
    top: 10px;
    right: 10px;
    color: white;
    padding: 1.6rem;
    z-index: 100;
    border-radius: 2.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 3px;
    box-shadow: 3px 4px 31px 1px rgba(0, 0, 0, 0.73);
    align-items: center;
    text-align: center;

}

#popupError {
    background-color: rgb(233, 0, 0);
}

#popupSucess {
    background-color: rgb(217, 255, 0);
}

.popup p {
    font-size: var(--fs-span);
    color: black;

}

body {
    background: linear-gradient(90deg, rgba(51, 161, 255, 1) 0%, rgba(38, 99, 200, 0.9808298319327731) 54%, rgba(19, 41, 149, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button:hover {
    background-color: #5e5ed6
}

.hide {
    display: none;
}

button,
input {
    border: none;
    padding: 1.6rem;
    color: white;

}

/* screen1 */



h1,
h2,
p {
    font-family: 'Montserrat', sans-serif;
    color: #34355B;
    font-size: var(--fs-h1);
    text-align: center;
    margin-bottom: 1rem;

}

span {
    display: inline-block;
    font-size: var(--fs-span);
    font-family: 'DM Sans', sans-serif;
    color: #34355BCC;
    margin-bottom: 3rem;
}

main {
    background: #ffffff;
    box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);
    margin-top: -12rem;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.errormessage {
    color: red;
    margin-top: 1rem;

}


input {
    color: black;
    background: #DCE2E9;
    width: 6rem;
    height: 5.3rem;
    border-radius: .4rem 0 0 .4rem
}

button {
    background-color: #4169E1;
    color: white;
    font-weight: bold;
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
}

/* Screen 2 */

h2 {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 3.3rem;
}

.screen2 button {
    border-radius: 0.4rem;
}

body {
    animation: topdown 800ms;

  }

  @keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}